<nav>

    <ul>
        <li class="logo-img"> <img src="assets/cinema.png"></li>
        <li class="logo">Cinema</li>


        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <li><a href="/cinema">Cinema</a></li>
            <li><a href="/film">Filme</a></li>
            <li><a href="/home">Bilete</a></li>
            <li><a href="/client">Clienti</a></li>
            <li><a href="/home">Rezervari</a></li>

        </div>


    </ul>
</nav>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nume</th>
                <th scope="col">Oras</th>
                <th scope="col">Numar locuri</th>
                <th scope="col">Numar sali</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let  cinema of cinemas ">
                <th scope="row">{{cinema.idCinema}}</th>
                <td>{{cinema.nume}} </td>
                <td>{{cinema.oras.nume}}</td>

                <td>{{cinema.nrLocuri}}</td>
                <td>{{cinema.nrSali}}</td>
            </tr>

        </tbody>
    </table>
</div>


<!-- <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#addQuote">Add a new Cinema</button> -->
<button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#addQuote" style="display: block; margin: 0 auto; margin-bottom: 20px; ">Adauga un cinema</button>
<!-- Add Quote Modal -->
<div class="modal fade" id="addQuote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adauga un cinema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="quoteDetails">
                    <div class="mb-3 ">
                        <label for="exampleInputText" class="form-label ">Nume</label>
                        <input type="text" formControlName="text" class="form-control " id="text" aria-describedby="textHelp ">

                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputText" class="form-label ">Numar locuri</label>
                        <input type="number" formControlName="text" class="form-control " id="text" aria-describedby="textHelp ">

                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputText" class="form-label ">Numar sali</label>
                        <input type="number" formControlName="text" class="form-control " id="text" aria-describedby="textHelp ">

                    </div>
                    <!-- <div class="mb-3">
                      <label for="exampleInputText" class="form-label ">Person</label>
                      <input type="text" formControlName="person" class="form-control" id="person" aria-describedby="textHelp">
                  </div> -->
                    <!-- <div>
                      <label for="exampleInputText" class="form-label ">Theme</label>
                      <select name="theme" class="form-control" id="theme" formControlName="theme">
                          <option value="Dark" selected>Dark</option>
                          <option  value="Light">Light</option>
                          <option value="Blue">Blue sky</option>
                          <option value="Pink">Sunset sky</option>
                      
                        </select>
                  </div> -->

                    <div>
                        <label for="exampleInputText" class="form-label ">Oras</label>
                        <select name="movieId" class="form-control" id="movieId" formControlName="movieId">
               
                          <option  *ngFor="let oras of orase" value={{oras.idOras}}>{{oras.nume}}</option>
                   
                        </select>
                    </div>


                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" (click)="addCinema()" data-bs-dismiss="modal">Adauga cinema</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>